<header>
    <!-- Top --> 
    <div class="top_header">
        <div class="top_header_2">
            <!-- Simbolo --> 
            <div class="top_header_esquerda">
                <h3>Logo do site</h3>
            </div>
            <!-- Outros --> 
            <div class="top_header_direita">
                <h3 class="teste">Logo do site</h3>
                <h3 class="teste">Logo do site</h3>
            </div>
        </div>
    </div>
    <!-- menu --> 
    <nav class="nav_menu">
        <ul class="lista_menu">
            <li class="item_menu">seção 1</li>
            <li class="item_menu">seção 2</li>
            <li class="item_menu">seção 3</li>
        </ul>
    </nav>
</header>