{% extends 'base.html'%}
{% load static %}   
{% block content%} 

{% include 'partials/_header.html'%}  

<main class="main">
    <!-- titulo --> 
    <div class="title">
        <h1>Encode Messages</h1>
    </div>
    <!-- conteudo --> 
    <div class="conteudo_central">
        <!-- menu lateral--> 
        <div class="menu_lateral">
            <h3>Opções</h3>
            <ul class="menu_lateral_lista">
                <li><a href="{% url 'characters' %}"> Characters</a></li>
                <li><a href="{% url 'enconding' %}"> Enconding</a></li>

            </ul>
        </div>

        <!-- central--> 
        <div class="central">
            <form method="POST" class="central_form">
            {% csrf_token %}
            {% if resposta %}
                <div>
                    <label for="text">Entre com seu texto aqui</label><br>
                    <textarea type="text" name="text">{{ resposta }}</textarea>
                </div>
            {% else %}
                <div>
                    <label for="text">Entre com seu texto aqui</label><br>
                    <textarea type="text" name="text"></textarea>
                </div>
            {% endif %}
                <div>
                    <input type="submit" name="C0NV3RT" class="selecao_multipla" value="C0NV3RT">
                    <input type="submit" name="binary" class="selecao_multipla" value="binary">
                    <input type="submit" name="octal" class="selecao_multipla" value="octal">
                    <input type="submit" name="hex" class="selecao_multipla" value="hex">
                    <input type="submit" name="latters_to_morse" class="selecao_multipla" value="latters to morse">
                    <input type="submit" name="morse_to_letters" class="selecao_multipla" value="morse to letters">
                </div>
                    
            </form>
            {% comment %} <div>
                {% if resposta %}
                    <h1>Resposta: {{ resposta }} </h1>
                {% else %}
                    <h2>A resposta aparecera aqui</h2>
                {% endif %}
            </div> {% endcomment %}
            {% comment %} <textarea class="conteudo_central_resposta" name="resposta" ></textarea> {% endcomment %}
        </div>

        <!-- propagandas--> 
        <div class="propagandas">
            propagandas
        </div>
    </div>
</main>
{% include 'partials/_footer.html' %}
{% endblock %}